{{ define "repo" }}
<html>
{{ template "head" . }}

{{ template "repoheader" . }}

<body>
  {{ template "nav" . }}
  <main>
    {{ $repo := .name }}
    <div style="margin-bottom: 0.25rem;"><strong>Commits</strong></div>
    <div class="log">
      {{ range .commits }}
      <div>
        <a href="/{{ $repo }}/commit/{{ .Hash.String }}" class="commit-hash">{{ slice .Hash.String 0 8}}</a>
      </div>
      <div class="commit-msg">
        {{ .Message }}
      </div>
      <div class="commit-info">
        <!--  {{ .Author.Name }} <a href="mailto:{{ .Author.Email }}" class="commit-email">{{ .Author.Email }}</a>-->
        <div>{{ .Author.When.Format "02 Jan 2006" }}</div>
      </div>
      {{ end }}
      {{- if gt .lenCommits 0}}
      <div>
        <a href="/{{ .name }}/log/{{ .ref }}">+{{ .lenCommits }} more</a>
      </div>
      {{- end -}}
    </div>
    {{- if .readme }}
    <article class="readme">
      {{- .readme -}}
    </article>
    {{- end -}}

    <div class="clone-url">
      <strong>clone</strong>
      <pre>
        git clone https://{{ .servername }}/{{ .name }}
      </pre>
    </div>
  </main>
</body>

</html>
{{ end }}
